<!DOCTYPE html>
<html>
  <head>
    <meta property="og:title" content="Project Title" />
    <meta property='og:image' content="<%= image_url('home.png') %>"/>
    <meta property="og:description"
      content="A brief description of your project."
    />
    <meta property="og:url"
      content="http://projectname.herokuapp.com/"
    />
    <meta charset="UTF-8">
    <title>NetClips</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link rel='icon' href='favicon.ico' type='image/x-icon'/ >
  </head>

  <body>
    <%= yield %>
  </body>
</html>
